.App {
  width: 79vw;
  padding: 1.5em;
  margin-left: 20vw;
}

@media screen and (maxwidth: 1100px) {
  .App {
    width: 100%;
    margin-left: 0;
    padding: 1.3em;
    background-color: aqua;
  }
}
